.loginForm{
    max-width: 450px;
    margin: 0 auto;
    padding:200px 0;
}
.login-title{
    font-weight: 700;
}
.signupForm{
    max-width: 450px;
    margin: 0 auto;
    padding:100px 0;
}
.error{
    color:red;
}
.pagination{
    float: right;
}
.pagination>li{
    cursor: pointer;
}