{% extends 'base.html' %} 
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block main %}
<section>
  <form id="filterForm" class="my-2" method="post">{% csrf_token %}
    {%for message in messages %} {%if "data_delete" in message.tags %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{message}} </strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %} {% endfor %} 
    <div class="bg-success py-2 rounded-top">
      <h4 class="text-white mx-2">Filter Zone</h4>
    </div>
    <div class="border border-success py-4">
      <div class="row px-4">
        <div class="col-md-4 my-2">
          <input
            type="text"
            class="form-control"
            placeholder="Search With Name"
            name="Formname"
            value="{{name}}"
          />
        </div>
        <div class="col-md-3 my-2">
          <select class="form-select" name="FormCity">
            {% if city != "" %}
            <option selected="" value="{{city}}">{{city}}</option>
            {% else %}
            <option selected=""> Select</option>
            {% endif %}
            <option value="Dhaka">Dhaka</option>
            <option value="Faridpur">Faridpur</option>
            <option value="Jamalpur">Jamalpur</option>
            <option value="Kishoreganj">Kishoreganj</option>
            <option value="Manikganj">Manikganj</option>
            <option value="Maradipur">Maradipur</option>
            <option value="Munshiganj">Munshiganj</option>
            <option value="Mymensingh">Mymensingh</option>
            <option value="Narayanganj">Narayanganj</option>
            <option value="Narsingdi">Narsingdi</option>
            <option value="Netrokona">Netrokona</option>
            <option value="Noakhali">Noakhali</option>
            <option value="Rajbari">Rajbari</option>
            <option value="Shariatpur">Shariatpur</option>
            <option value="Sherpur">Sherpur</option>
            <option value="Tangail">Tangail</option>
            <option value="Tongi">Tongi</option>
            <option value="Bagherhat">Bagherhat</option>
            <option value="Chuadanga">Chuadanga</option>
            <option value="Jessore">Jessore</option>
            <option value="Jhenaidaha">Jhenaidaha</option>
            <option value="Kushtia">Kushtia</option>
            <option value="Magura">Magura</option>
            <option value="Meherpur">Meherpur</option>
            <option value="Narail">Narail</option>
            <option value="Shatkhira">Shatkhira</option>
            <option value="Bogra">Bogra</option>
            <option value="Joypurhat">Joypurhat</option>
            <option value="Naogaon">Naogaon</option>
            <option value="Natore">Natore</option>
            <option value="Nawabganj">Nawabganj</option>
            <option value="Pabna">Pabna</option>
            <option value="Rajshahi">Rajshahi</option>
            <option value="Sirajganj">Sirajganj</option>
            <option value="Dinajpur">Dinajpur</option>
            <option value="Gaibandha">Gaibandha</option>
            <option value="Kurigram">Kurigram</option>
            <option value="Lalmonirhat">Lalmonirhat</option>
            <option value="Nilphamari">Nilphamari</option>
            <option value="Panchagarh">Panchagarh</option>
            <option value="Rangpur">Rangpur</option>
            <option value="Thakurgaon">Thakurgaon</option>
            <option value="Habiganj">Habiganj</option>
            <option value="Maulvibazar">Maulvibazar</option>
            <option value="Sunamganj">Sunamganj</option>
            <option value="Sylhet">Sylhet</option>
            <option value="Bandarban">Bandarban</option>
            <option value="Brahmanbaria">Brahmanbaria</option>
            <option value="Chandpur">Chandpur</option>
            <option value="Comilla">Comilla</option>
            <option value="Cox's Bazar">Cox's Bazar</option>
            <option value="Feni">Feni</option>
            <option value="Khagrachhari">Khagrachhari</option>
            <option value="Lakshmipur">Lakshmipur</option>
            <option value="Noakhali">Noakhali</option>
            <option value="Rangamati">Rangamati</option>
            <option value="Barguna">Barguna</option>
            <option value="Barisal">Barisal</option>
            <option value="Bhola">Bhola</option>
            <option value="Jhalokati">Jhalokati</option>
            <option value="Patuakhali">Patuakhali</option>
            <option value="Pirojpur">Pirojpur</option>
          </select>
        </div>
        <div class="col-md-2 my-2">
          <select class="form-select" name="FormMinAge">
            {% if minage != "" %}
            <option selected="" value="{{minage}}">{{minage}}</option>
            {% else %}
            <option selected>Min Age</option>
            {% endif %}
            {% for ma in minagerange%}
            <option value="{{ma}}">{{ma}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-2 my-2">
          <select class="form-select" name="FormMaxAge">
             {% if maxage != "" %}
            <option selected="" value="{{maxage}}">{{maxage}}</option>
            {% else %}
            <option selected>Max Age</option>
            {% endif %}
            {% for ma in maxagerange%}
            <option value="{{ma}}">{{ma}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-2 my-2">
          <input
            type="date"
            class="form-control"
            name="FormMinDate"
            value="{{mindate}}"
          />
          
        </div>
         <div class="col-md-2 my-2">
          <input
            type="date"
            class="form-control"
            name="FormMaxDate"
            value="{{maxdate}}"
          />
          
        </div>
        <div class="col-md-4">
          <div class="my-3"></div>
          <div class="radio-inline mr-2">
              <input type="radio" value="male" name="FormGender">&nbsp;Male
          </label>
          <label class="radio-inline mx-2">
            <input type="radio" value="female" name="FormGender">&nbsp;Female
          </label>
          </div>
      </div>
        <div class="col-md-12">
          <input type="hidden" name="PageNo" id="PageNo" value="{{pn}}"/>
            <button id="filterBtn" type="submit" class="btn btn-primary btn-sm my-2">Filter</buton>
        </div>
      </div>
    </div>
  </form>
</section>
<section>
  <div class="row">
    <div class="col">
      <a class="btn btn-success" href="{% url 'App_Employee:addemployee'%}">Add New</a>
    </div>
    <div class="col">
      <nav>
       <ul class="pagination">
        {% if pn > 1 %}
            <li class="page-item"><a class="page-link" onclick="ChangePageNoValue({{pn|add:"-1"}})" >Previous</a></li>
        {% endif %}
        
        {%  for i in range  %}
            {% if i == pn %}
                <li class="page-item active"><a class="page-link"  onclick="ChangePageNoValue({{i}})">{{i}}</a></li>
            {% else %}
                <li class="page-item "><a class="page-link"  onclick="ChangePageNoValue({{i}})">{{i}}</a></li>
            {% endif%}
        {%  endfor %}
        
        {% if pn < PageCount %}
            <li class="page-item"><a class="page-link"  onclick="ChangePageNoValue({{pn|add:"1"}})">Next</a></li>
        {% endif %}
        
    </ul>
      </nav>
    </div>
  </div>  


</section>
<section>
  <div class="table-responsive">
  <table class="table table-striped table-hover">
    <h6>Total {{all_employees.0.9}}</h6>
    <thead>
      <tr>
        <th scope="col">SL</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone</th>
        <th scope="col">Dob</th>
        <th scope="col">Age</th>
        <th scope="col">City</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for emp in all_employees %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{emp.1}} {{emp.2}}</td>
        <td>{{emp.3}}</td>
        <td>{{emp.4}}</td>
        <td>{{emp.5}}</td>
        <td>{{emp.6}}</td>
        <td>{{emp.7}}</td>
        <td>{{emp.8}}</td>
        <td>
          <a href="{% url 'App_Employee:details' emp.0%}">View</a> ||
          <a href="{% url 'App_Employee:editemployee' emp.0 %}">Edit</a> ||
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="changemodalvalue({{emp.0}})">Delete </a>
        </td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>
</div>
</section>
<script>
var pageno=document.getElementById("PageNo")
  function ChangePageNoValue(val){
    pageno.value=val;
    filterbuttonAction();
  }
  document.getElementById("filterBtn").addEventListener("click", filterbuttonAction);
  function filterbuttonAction() {
    document.getElementById("filterForm").submit();
  };
  function changemodalvalue(val){
    var x=document.getElementById("emp_id");
    x.value=val;
  }
</script>  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Are you want to delete this Employee?
      </div>
      <form method="post" action="{% url 'App_Employee:deleteemployee'%}">{% csrf_token %}
      <div class="modal-footer">
        <input type="hidden" name="emp_id" id="emp_id" value=""/>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" id="deleteBtn" class="btn btn-primary">Delete</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock main %}
