{% extends 'base.html' %} {% block title%} Signle Employee {% endblock title%}
{% block navbar%}{% include 'navbar.html'%}{% endblock navbar%} {% block main %}

<section>
  <div>
    <div>
      <h4>Employee Details Page</h4>
    </div>
    <div>
      <table class="table table-bordered w-50">
        <tr>
          <td>Full Name</td>
          <td>{{single_employee.0.1}} {{single_employee.0.2}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{single_employee.0.3}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{single_employee.0.4}}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{single_employee.0.5}}</td>
        </tr>
        <tr>
          <td>Dath of Birth</td>
          <td>{{single_employee.0.7}}</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>{{single_employee.0.6}}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{single_employee.0.8}}</td>
        </tr>
        <tr>
          <td>Skills</td>
          <td>
            <ul>
              {% for s in single_employee %}
                  <li>{{s.9}}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>

{% endblock main %}
