{% extends 'base.html' %} {% block title%} Signle Employee {% endblock title%}
{% block navbar%}{% include 'navbar.html'%}{% endblock navbar%} {% block main %}

<section>
  <div>
    <div>
      <h4>Employee Details Page</h4>
    </div>
    <div>
      <table class="table table-bordered w-50">
        <tr>
          <td>Full Name</td>
          <td>Full Name</td>
        </tr>
        <tr>
          <td>Full Name</td>
          <td>Full Name</td>
        </tr>
        <tr>
          <td>Full Name</td>
          <td>Full Name</td>
        </tr>
        <tr>
          <td>Full Name</td>
          <td>Full Name</td>
        </tr>
        <tr>
          <td>Full Name</td>
          <td>Full Name</td>
        </tr>
        <tr>
          <td>Full Name</td>
          <td>Full Name</td>
        </tr>
        <tr>
          <td>Full Name</td>
          <td>Full Name</td>
        </tr>
        <tr>
          <td>Full Name</td>
          <td>Full Name</td>
        </tr>
      </table>
    </div>
  </div>
</section>

{% endblock main %}
